<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.immutable.nellodee"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="7" />
    
    <!-- Because the code attempts to use the Internet, we need to add the permission  -->
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>  

	<!-- START UP Activity -->
    <application android:icon="@drawable/icon" android:label="@string/app_name"  android:name=".NellodeeApplication" >
        <activity android:name=".activities.StartUpActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".activities.UrlActivity" 
			android:label="@string/app_name">
		</activity>
		
		<activity android:name=".activities.LogInActivity" 
			android:label="@string/app_name">
		</activity>
		
		<activity android:name=".activities.BasicProfileActivity" 
			android:label="@string/app_name">
		</activity>
    </application>
</manifest>